<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="A:/java/idea progects/project intellij/Lesson_13/src"><classes><class name="tests.base.BaseTest"><methods><include name="addProductsToBasketTest"/></methods></class></classes></test></suite>